@{
    ViewData["Title"] = "Home Page";
}
@inject NorthwindContext DataContext

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/cat.jpg" asp-append-version="true"/>
    <cache expires-after="@TimeSpan.FromMinutes(1)">客戶總數:@DataContext.Customers.Count()</cache>
    <h5>@ViewBag.Phone</h5>
    <label>國家:</label>
    <select asp-items="@ViewBag.Country"></select>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script>
        @Html.Raw(ViewBag.CustomerCount)

        @Html.Raw(TempData["Message"])
    </script>
}